DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos"

# usuario: el nombre de usuario para conectarse a la base de datos

# contraseña: la contraseña correspondiente al usuario. Si tu usuario no tiene...
#             contraseña, en ese caso quedaría: "...//usuario@localhost..."

# nombre_base_datos: el nombre de la base de datos creada con el comando "createdb <nombre_bd>"
